#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height:20px;
  border: 2px solid black;
  white-space: nowrap;
}
