#table-section {
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 50px;
  margin:0;
  border-top: 2px solid $gray1;
}

#table-container{
  padding: 10px;
}

th{
  font-family: $base-font-family-bold;
}
